<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <title>NodeTest</title>
  </head>
  <body>
    <%- include ('nav.html') %>
    <div class="py-5 text-center">
        <ul class="list-group d-inline-block w-25">
       <% for (var i= 0; i < userDatas.length; i++){ %>
        <li class="list-group-item">
          <div class="d-block"><%= userDatas[i].id %></div>
         <a href="/chat/<%=userDatas[i].id %>">채팅하기</a>
        </li>
        <% } %> </div>
        
        <div>

        </div>
  </body>
</html>
