<div class="subpage" id="research">
  <!--    sub page top -->
  <div class="sub-top">
    <h2 class="title">Research</h2>
  </div>
  <!--    sub page top -->

  <!--    sub page content -->
  <div class="sub-bottom">
    <div class="row res-btn-zone">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a class="res-btn" href="/#" data-toggle="modal" data-target="#modal01">
          <u>Cold Plasma Treatments</u>
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a class="res-btn" href="/#" data-toggle="modal" data-target="#modal10">
          <u>Active Packaging</u>
        </a>
      </div>
    </div>

    <div class="row res-btn-zone">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a class="res-btn" href="/#" data-toggle="modal" data-target="#modal11">
          <u>Intelligent (Smart) Packaging</u>
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a class="res-btn" href="/#" data-toggle="modal" data-target="#modal12">
          <u>Food 3D-Printing</u>
        </a>
      </div>
    </div>

    <div class="row res-btn-zone">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a class="res-btn" href="/#" data-toggle="modal" data-target="#modal13">
          <u>Modeling/Simulation (Deep Learning)</u>
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a class="res-btn" href="/#" data-toggle="modal" data-target="#modal02">
          <u>Biopolymer Processing</u>
        </a>
      </div>
    </div>

    <div class="row res-btn-zone">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a class="res-btn" href="/#" data-toggle="modal" data-target="#modal03">
          <u>Pulsed Electric Field (PEF) Processing</u>
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a class="res-btn" href="/#" data-toggle="modal" data-target="#modal14">
          <u>Food Processing</u>
        </a>
      </div>
    </div>

    <div class="row res-btn-zone">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a class="res-btn" href="/#" data-toggle="modal" data-target="#modal04">
          <u>High Pressure Processing (HPP)</u>
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a class="res-btn" href="/#" data-toggle="modal" data-target="#modal15">
          <u>Conventional Food Processing</u>
        </a>
      </div>
    </div>

    <div class="row res-btn-zone d-flex">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a class="res-btn" href="/#" data-toggle="modal" data-target="#modal05">
          <u>Aseptic Food Packaging</u>
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a class="res-btn" href="/#" data-toggle="modal" data-target="#modal08">
          <u>Hazard Analysis and Critical Control Points<br />(HACCP)</u>
        </a>
      </div>
    </div>
    <!-- <div class="row res-btn-zone">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a class="res-btn" href="/#" data-toggle="modal" data-target="#modal07">
          <u>Antimicrobial Edible Packaging</u>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <a class="res-btn" href="/#" data-toggle="modal" data-target="#modal08">
        <u>Antioxidant Edible Packaging</u>
      </a>
    </div> -->

    <!-- Modal -->

    <div
      tabindex="-1"
      class="modal fade"
      id="modal01"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              Cold Plasma Treatments
            </h4>
          </div>
          <div class="modal-body">
            <p>
              Cold plasma discharges have been proved effective against
              foodborne pathogens damaging cell membrane and wall and maybe used
              for decontaminating surfaces of food products.
            </p>

            <p>
              Cold plasma treatment systems send an electrical power through a
              gas or gases, creating a plasma field and reactive molecular
              species.<br />
              Cold plasma systems typically have four components; Cold plasma
              discharge chamber, high voltage AC power supply, electrical
              parameter measurement and control devices, and gas flow control
              devices.<br />
              Equipment varies with different electrodes, power supplies (e.g.,
              frequencies), and applied pressures, and gas combinations needed
              for different applications and products.
            </p>

            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res01.jpg"
                />
                <h5 class="image-title">SWU-1</h5>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res02.jpg"
                />
                <h5 class="image-title">SWU-2</h5>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res03.jpg"
                />
                <h5 class="image-title">SWU-3</h5>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res04.jpg"
                />
                <h5 class="image-title">SWU-4</h5>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      tabindex="-1"
      class="modal fade"
      id="modal02"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Biopolymer Processing</h4>
          </div>
          <div class="modal-body">
            <div class="row image-zone">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <img
                  class="img-responsive center-block"
                  style="height: 250px"
                  src="/skin/img/sub/res05.jpg"
                />
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <img
                  class="img-responsive center-block"
                  style="height: 250px"
                  src="/skin/img/sub/res06.jpg"
                />
              </div>
            </div>

            <p>
              Plant materials, including fruits and vegetables, provide a source
              of polysaccharides, proteins, and lipids. The use of plant-based
              material is favored to synthetic polymers due to its
              nature-friendly biodegradability. The increase in
              non-biodegradable waste material and its difficulty to be recycled
              have resulted in the development of new biodegradable materials
              suitable for packaging, including food packaging. Plant
              biopolymers are favored to animal-based proteins (e.g., collagen)
              used in edible films and coatings due to the consumers¡¯ interest
              in healthy food materials.
            </p>
            <p>
              Heterogeneous biopolymers or biopolymer aggregates/particles in
              natural biomaterials not easily stabilized in water need to be
              broken down so that the natural biomaterials can form uniform
              matrices for packaging materials. Emerging technologies using
              high-pressure homogenization, ultrasound, irradiation, and enzymes
              could be used to prepare package-forming solutions with small
              enough biopolymer materials which allow forming packages with
              appropriate tensile, barrier, and optical properties.
            </p>

            <div class="row image-zone">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <img
                  class="img-responsive center-block"
                  style="height: 300px"
                  src="/skin/img/sub/res07.jpg"
                />
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <img
                  class="img-responsive center-block"
                  style="height: 300px"
                  src="/skin/img/sub/res08.jpg"
                />
              </div>
            </div>

            <div class="row image-zone">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res09.jpg"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      tabindex="-1"
      class="modal fade"
      id="modal03"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              Pulsed Electric Field (PEF) Processing
            </h4>
          </div>
          <div class="modal-body">
            <div class="row image-zone">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res10.jpg"
                />
              </div>
            </div>

            <p>
              PEF treatments use high intensity electric field pulses generated
              between two electrodes.
            </p>
            <p>
              The nonthermal treatment is attained by minimizing temperature
              increase in treatment zones using a very short pulse width of
              treatment time (i.e. microseconds).
            </p>

            <div class="row image-zone">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res11.jpg"
                />
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res12.jpg"
                />
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <h5 class="image-title">Washington State Univ.</h5>
              </div>
            </div>

            <p>
              A PEF processing system consists of a high voltage pulse
              generator, a PEF treatment chamber, a data logging system, and a
              fluid handling system. The pulse generator, connected to the
              treatment chambers, generates electric pulses. PEF is delivered to
              foods inside the PEF treatment chamber.
            </p>
            <p>
              PEF inhibits microorganisms by damaging microbial cell membranes.
              This damage leads to ion leakage, metabolite losses, protein
              releases, and increased uptakes of drugs, molecular probes, and
              DNA.
            </p>
            <p>
              The factors determining the efficiency of the microbial inhibition
              by PEF can be classified with treatment parameters, product
              parameters, and microbial characteristics. The main treatment
              parameters that affect microbial inactivation by PEF are electric
              field strength, PEF treatment time, pulse width, pulse shape, and
              treatment temperature. The most critical product parameters
              include electric conductivity, density, viscosity, pH, and water
              activity. The type of microorganism, microbial cell size or shape,
              growth stage of microorganisms, microbial stress adaptation have
              been reported to influence the efficiency of PEF inhibition.
            </p>
            <p>
              Various types of juices, milk, yogurt, and liquid egg have been
              tested by PEF and its benefits for their processes have been
              reported.
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      tabindex="-1"
      class="modal fade"
      id="modal04"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              High Pressure Processing (HPP)
            </h4>
          </div>
          <div class="modal-body">
            <p>
              Foods are exposed to high pressure (100 to 800 MPa) during HPP for
              a short period, typically ranging from a few seconds to several
              minutes (3-5 minutes), depending on a target food temperature.
              Process temperature during the pressure treatment can be specified
              from below 0 °C to above 100 °C.
            </p>

            <div class="row image-zone">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res13.jpg"
                />
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res14.jpg"
                />
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <h5 class="image-title">Washington State Univ.</h5>
              </div>
            </div>

            <p>
              Foods are pressurized using a pressure-transmitting medium (e.g.
              water). In a typical HPP, the food product to be pressurized is
              packaged in a flexible container, such as pouches and plastic
              bottles, and is loaded into a high pressure chamber filled with
              the pressure-transmitting medium. The hydraulic fluid in the
              chamber is pressurized with a pump, and this pressure is
              transmitted through the package into the food product. The food
              product is uniformly treated by high pressure that is evenly
              distributed throughout the product. No edge or thickness effect
              takes place. The industrial equipments have been designed for
              discontinuous batch processing (capacity: from 10 to 500 L/h) of
              solid, viscous, and particulated foods and for semi-continuous
              bulk processing (capacity: from 1 to 4 ton/h) of liquid foods.
            </p>

            <p>
              High pressure causes deprotonation of charged groups and
              disruption of salt bridges and hydrophoboic bonds in microbial
              cell membranes. These deprotonation and disruption result in
              conformational changes and denaturation of proteins, which causes
              the death of microorganisms. Generally, bacteria are more
              resistant to HPP than yeasts and molds.
            </p>

            <p>
              Critical process factors include pressure, magnitude and duration
              of high pressure treatment, decompression time, treatment
              temperature, product initial temperature, product pH, product
              composition, type of pressurizing medium, type and number of
              microorganisms, type of food packaging and concurred processing
              aids, packaging material integrity.
            </p>

            <p>
              HPP can be used to process both liquid and solid foods. Foods with
              a high acid content are particularly good candidates for HPP
              technology. High pressure processed products are commercially
              available in the United States, European, and Japanese retail
              markets. Examples of high-pressure processed products commercially
              available in the United States include fruit smoothies, fruit
              jellies and jams, fruit juices, tomato salsa, guacamole, cooked
              ready-to-eat meats, oysters, ham, chicken strips, pourable salad
              dressing, and rice cakes.
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      tabindex="-1"
      class="modal fade"
      id="modal05"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Aseptic Packaging</h4>
          </div>
          <div class="modal-body">
            <p>
              In aseptic packaging, food is pasteurized or sterilized while food
              containers are formed and/or sterilized separately and then the
              pasteurized/sterilized food is added to the containers in a
              sterile environment.
            </p>

            <div class="row image-zone">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res15.jpg"
                />
              </div>
            </div>

            <p>
              Aseptic packaging is considered most appropriate way of packaging
              for minimally-processed food products. Plastics and
              paper-laminated materials are widely used as packaging materials
              for aseptic food packaging. These are usually thermoformed to
              produce containers during the aseptic packaging process. When
              laminated materials are used, delamination or destructions of
              barrier layers (e.g. PVDC) during thermoforming must be avoided
              because those will negatively affect barrier and mechanical
              properties of thermoformed containers.
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      tabindex="-1"
      class="modal fade"
      id="modal06"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              Antimicrobial Edible Packaging
            </h4>
          </div>
          <div class="modal-body">
            <div class="row image-zone">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res16.jpg"
                />
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res17.jpg"
                />
              </div>
            </div>

            <p>
              Direct surface application of antimicrobial substances onto food
              products by dipping, dusting, or spraying exhibits limited
              benefits because the active substances are neutralized on contact
              or diffuse rapidly from the surface into the product.
              Antimicrobial-incorporating films/coatings have advantages over
              the direct surface applications because the film can be designed
              to slow the antimicrobial diffusion to the surface of food. By
              slowing the diffusion, the substance activity at the surface of
              food is maintained. Thus, smaller amount of antimicrobials are
              needed in edible films to achieve a target shelf life as compared
              to dipping, dusting, or spraying agents. If an antimicrobial can
              be released from the film during an extended period, its activity
              can also be extended into the transport and storage phase of food
              distribution. The diffusion of the incorporated antimicrobial can
              be controlled by controlling film compositions.
            </p>

            <div class="row image-zone">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res18.jpg"
                />
              </div>
            </div>

            <p>
              Antimicrobial films incorporating antimicrobials have advantages
              over those immobilizing antimicrobials at the film surface which
              contacts with foods. Once immobilized antimicrobials are used up,
              antimicrobial activities from the films are no longer expected.
              However, if the films incorporating antimicrobials are used, the
              antimicrobials at the surface of the films contacting with foods
              are being replenished by migration of the antimicrobials from the
              film matrices. Thus, minimum inhibitory concentrations (MIC) at
              the film surface can be maintained for an extended time with the
              antimicrobial films incorporating antimicrobials.
            </p>

            <div class="row image-zone">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res19.jpg"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      tabindex="-1"
      class="modal fade"
      id="modal07"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              Antioxidant Edible Packaging
            </h4>
          </div>
          <div class="modal-body">
            <p>
              Lipid oxidation can be reduced by minimizing the O2 concentration
              in food. Since edible films/coatings can be excellent O2 barriers,
              it can reduce O2 contacting with food retarding lipid oxidation
              and thus reducing rancidity.
            </p>

            <p>
              The oxidation of foods by oxygen permeated through the
              films/coatings can be markedly retarded by antioxidants
              incorporated into the films/coatings.
            </p>

            <div class="row image-zone">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res20.jpg"
                />
              </div>
            </div>

            <p>
              Incorporating antioxidants in edible films may have two positive
              effects: (1) scavenging oxygen that permeates into the film, and
              (2) reducing film oxygen permeability (OP).
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      tabindex="-1"
      class="modal fade"
      id="modal08"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              Hazard Analysis and Critical Control Points (HACCP)
            </h4>
          </div>
          <div class="modal-body">
            <h4 class="sub-title">
              Hazard Analysis and Critical Control Points (HACCP)
            </h4>

            <p>
              Hazard Analysis and Critical Control Point (HACCP) is a management
              system used to analyze and control biological, chemical, and
              physical hazards that may result from harvesting, processing,
              manufacturing, distributing, or preparing food for consumption.
              The importance of HACCP has been emphasized recently due to the
              increase in international trade demanding worldwide of food
              product safety and the development of new food processing
              technologies.
            </p>

            <p>
              Education and training are very important elements of the HACCP.
              Employees who will be responsible for the HACCP program must be
              trained adequately in the principles, application, and
              implementation of the program. Once the HACCP system is developed,
              commitment to its proper implementation is crucial.
            </p>

            <p>
              Quantitative risk assessment (QRA) is becoming a standard research
              tool which provides useful predictions and analyses on microbial
              risks and, thus, a valuable aid in implementing a HACCP system.
              The QRA is related to implementing HACCP by its potential
              involvement in identifying critical control points (CCPs),
              validating critical limits at a CCP, enabling rational designs of
              new processes and products to meet required level of safety, and
              evaluating processing operations for verification procedures.
            </p>

            <div class="row image-zone">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res21.jpg"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      tabindex="-1"
      class="modal fade"
      id="modal09"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              Rheological, thermal dynamic and tensile properties
            </h4>
          </div>
          <div class="modal-body">
            <div class="row image-zone">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <img
                  class="img-responsive center-block"
                  src="/skin/img/sub/res22.jpg"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      tabindex="-1"
      class="modal fade"
      id="modal10"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Active Packaging</h4>
          </div>
          <div class="modal-body">
            <p>
              Please wait a moment. <br />
              It's under preparaton.
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      tabindex="-1"
      class="modal fade"
      id="modal11"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              Intelligent (Smart) Packaging
            </h4>
          </div>
          <div class="modal-body">
            <p>
              Please wait a moment. <br />
              It's under preparaton.
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      tabindex="-1"
      class="modal fade"
      id="modal12"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Food 3D-Printing</h4>
          </div>
          <div class="modal-body">
            <p>
              Please wait a moment. <br />
              It's under preparaton.
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      tabindex="-1"
      class="modal fade"
      id="modal13"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              Modeling/Simulation (Deep Learning)
            </h4>
          </div>
          <div class="modal-body">
            <p>
              Please wait a moment. <br />
              It's under preparaton.
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      tabindex="-1"
      class="modal fade"
      id="modal14"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Food Processing</h4>
          </div>
          <div class="modal-body">
            <p>
              Please wait a moment. <br />
              It's under preparaton.
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      tabindex="-1"
      class="modal fade"
      id="modal15"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close"
              aria-label="Close"
              type="button"
              data-dismiss="modal"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              Conventional Food Processing
            </h4>
          </div>
          <div class="modal-body">
            <p>
              Please wait a moment. <br />
              It's under preparaton.
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--    sub page content -->
</div>
